.bs-sidenav {
    border-radius: 0;
}

.bs-navbar-top-example {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

    .bs-navbar-top-example:after {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

.bs-navbar-bottom-example {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.responsive-utilities-test span {
    border-radius: 0;
}

.highlight {
    border-radius: 0;
}

/* Tablets and up */
@media screen and (min-width: 768px) {
    .bs-example {
        border-radius: 0;
    }

  .bs-example + .prettyprint,
  .bs-example + .highlight {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
    .carbonad {
        border-radius: 0;
    }
}
