// Transition (and related) shortcuts

.transition(@transition) {
    -moz-transition: @transition;
    -o-transition: @transition;
    -webkit-transition: @transition;
    transition: @transition;
}

.transition-property(@transition) {
    -moz-transition-property: @transition;
    -o-transition-property: @transition;
    -webkit-transition-property: @transition;
    transition-property: @transition;
}

.transition-duration(@transition) {
    -moz-transition-duration: @transition;
    -o-transition-duration: @transition;
    -webkit-transition-duration: @transition;
    transition-duration: @transition;
}

.transition-timing-function(@transition) {
    -moz-transition-timing-function: @transition;
    -o-transition-timing-function: @transition;
    -webkit-transition-timing-function: @transition;
    transition-timing-function: @transition;
}
