---
layout: default
title: Getting started
slug: getting-started
lead: "An overview of Bootstrap Flat, how to download and use, and more."
---


{% include getting-started/download.html %}
{% include getting-started/whats-included.html %}
{% include getting-started/template.html %}

<!-- Cross link to new migration page -->
<div class="bs-callout bs-callout-info" id="migration">
  <h4>Migrating from v2.x to v3.x</h4>
  <p>Looking to migrate from an older version of Bootstrap Flat to v3.x? Check out <a href="../migration">our migration guide</a>.</p>
</div>

{% include getting-started/browser-device-support.html %}
{% include getting-started/license.html %}
