---
layout: default
title: Theme
slug: theme
lead: "A single page of themed Bootstrap elements, all in one place."
---


{% include theme/code.html %}
{% include theme/forms.html %}
{% include theme/buttons.html %}
{% include theme/images.html %}
{% include theme/dropdowns.html %}
{% include theme/button-groups.html %}
{% include theme/button-dropdowns.html %}
{% include theme/input-groups.html %}
{% include theme/navs.html %}
{% include theme/navbar.html %}
{% include theme/breadcrumbs.html %}
{% include theme/pagination.html %}
{% include theme/labels.html %}
{% include theme/badges.html %}
{% include theme/jumbotron.html %}
{% include theme/thumbnails.html %}
{% include theme/alerts.html %}
{% include theme/progress-bars.html %}
{% include theme/list-group.html %}
{% include theme/panels.html %}
{% include theme/wells.html %}
{% include theme/tabs.html %}
{% include theme/tooltips.html %}
{% include theme/popovers.html %}
{% include theme/collapse.html %}
{% include theme/carousel.html %}
