<li><a href="#testimonials">Testimonials</a></li>
<li><a href="#callouts">Callouts</a></li>
<li>
  <a href="#btn-dropdowns">Pricing Tables</a>
  <ul class="nav">
    <li><a href="#btn-dropdowns-single">Single button dropdowns</a></li>
    <li><a href="#btn-dropdowns-split">Split button dropdowns</a></li>
    <li><a href="#btn-dropdowns-sizing">Sizing</a></li>
    <li><a href="#btn-dropdowns-dropup">Dropup variation</a></li>
  </ul>
</li>
<li>
  <a href="#social-icons">Social Icons</a>
  <ul class="nav">
    <li><a href="#social-icons-default">Basic example</a></li>
    <li><a href="#social-icons-options">Options</a></li>
    <li><a href="#social-icons-sizing">Sizing</a></li>
  </ul>
</li>
<li>
  <a href="#nav">Navs</a>
  <ul class="nav">
    <li><a href="#nav-tabs">Tabs</a></li>
    <li><a href="#nav-justified">Justified</a></li>
    <li><a href="#nav-dropdowns">Using dropdowns</a></li>
  </ul>
</li>
<li>
  <a href="#boxed-content">Boxed Content</a>
  <ul class="nav">
    <li><a href="#boxed-content-basic">Default example</a></li>
    <li><a href="#boxed-content-left-aligned">Left aligned</a></li>
    <li><a href="#boxed-content-large-left-aligned">Large left aligned</a></li>
    <li><a href="#boxed-content-vertical-number">Vertical numbers</a></li>
    <li><a href="#boxed-content-large-vertical-number">Large vertical numbers</a></li>
    <li><a href="#boxed-content-horizontal-number">Horizontal numbers</a></li>
    <li><a href="#boxed-content-date">Dates</a></li>
  </ul>
</li>

