<li>
  <a href="#download">Download</a>
</li>
<li>
  <a href="#whats-included">What's included</a>
  <ul class="nav">
    <li><a href="#whats-included-precompiled">Precompiled</a></li>
    <li><a href="#whats-included-source">Source code</a></li>
  </ul>
</li>
<li>
  <a href="#grunt">Compiling CSS and JavaScript</a>
  <ul class="nav">
    <li><a href="#grunt-installing">Installing Grunt</a></li>
    <li><a href="#grunt-commands">Available Grunt commands</a></li>
    <li><a href="#grunt-troubleshooting">Troubleshooting</a></li>
  </ul>
</li>
<li>
  <a href="#template">Basic template</a>
</li>
<li>
  <a href="#migration">Migrating from 2.x to 3.0</a>
</li>
<li>
  <a href="#support">Browser and device support</a>
</li>
<li>
  <a href="#license-faqs">License FAQs</a>
</li>
