<div class="bs-docs-section">
  <h1 id="support" class="page-header">Browser and device support</h1>
  <p class="lead">Since Bootstrap Flat is built on top of Bootstrap, it has the same browser support as Bootstrap. It is built to work best in the latest desktop and mobile browsers, meaning older browsers might display differently styled, though fully functional, renderings of certain components.</p>
  <p>For more details, including officially supported browsers and devices, see <a href="http://getbootstrap.com/getting-started/#support">Bootstrap's documentation</a>
</div>