.bs-sidenav {
    border-radius: 0;
}

.bs-navbar-top-example {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

    .bs-navbar-top-example:after {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

.bs-navbar-bottom-example {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.responsive-utilities-test span {
    border-radius: 0;
}

.highlight {
    border-radius: 0;
}

 .bs-masthead {
  text-shadow: none;
}
/* Tablets and up */
@media screen and (min-width: 768px) {
    .bs-example {
        border-radius: 0;
    }

  .bs-example + .prettyprint,
  .bs-example + .highlight {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
    .carbonad {
        border-radius: 0;
    }
}

.nuget-badge code {
	font: 1.5em/1.5em "andale mono", "lucida console", monospace; padding: 15px; border-radius: 5px; border: 4px solid silver; color: rgb(226, 226, 226); overflow: auto; display: block; font-size-adjust: none; font-stretch: normal; box-shadow: 2px 2px 3px #6e6e6e; background-color: rgb(32, 32, 32); -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
