.btn-outline {
    color: rgba(148, 189, 225, 1);
    border-color: rgba(148, 189, 225, 1);
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
  background-color: rgba(148, 189, 225, 1);
  border-color: rgba(148, 189, 225, 1);
}

.btn-outline-inverse {
  border-color: rgba(148, 189, 225, 1);
}
    .btn-outline-inverse:hover,
    .btn-outline-inverse:focus,
    .btn-outline-inverse:active {
        color: rgba(148, 189, 225, 1);
    }

h4 code {
  background-color: rgba(148, 189, 225, 1);
}

.bs-docs-booticon-inverse {
  color: rgba(148, 189, 225, 1);
}
.bs-docs-booticon-outline {
  border: 1px solid rgba(148, 189, 225, 1);
}

.bs-docs-nav .navbar-brand,
.bs-docs-nav .navbar-nav > li > a {
  color: rgba(51, 122, 183, 1);
}
.bs-docs-nav .navbar-nav > li > a:hover,
.bs-docs-nav .navbar-nav > .active > a,
.bs-docs-nav .navbar-nav > .active > a:hover {
  color: rgba(51, 122, 183, 1);
}
.bs-docs-nav .navbar-toggle .icon-bar {
  background-color: rgba(51, 122, 183, 1);
}
.bs-docs-header, .bs-docs-masthead {
  color: rgba(148, 189, 225, 1);
  background-color: rgba(51, 122, 183, 1);
  background-image: none;
}

.bs-docs-masthead .version {
  color: rgba(148, 189, 225, 1);
}

.bs-sidenav {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.bs-docs-sidebar .nav > li > a:hover,
.bs-docs-sidebar .nav > li > a:focus {
  color: rgba(148, 189, 225, 1);
  border-left: 1px solid rgba(148, 189, 225, 1);
}

.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > .active:hover > a,
.bs-docs-sidebar .nav > .active:focus > a {
  color: rgba(148, 189, 225, 1);
  border-left: 2px solid rgba(148, 189, 225, 1);
}

.back-to-top:hover,
.bs-docs-theme-toggle:hover {
  color: rgba(148, 189, 225, 1);
}

.bs-glyphicons li:hover {
    background-color: rgba(148, 189, 225, 1);
}

.bs-navbar-top-example {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

    .bs-navbar-top-example:after {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

.bs-navbar-bottom-example {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.responsive-utilities-test span {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.highlight {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

 .bs-masthead {
  text-shadow: none;
}
/* Tablets and up */
@media screen and (min-width: 768px) {
    .bs-example {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

  .bs-example + .prettyprint,
  .bs-example + .highlight,
  .bs-example + .zero-clipboard + .highlight {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.nuget-badge code {
	font: 1.5em/1.5em "andale mono", "lucida console", monospace; padding: 15px; border-radius: 5px; border: 4px solid silver; color: rgb(226, 226, 226); overflow: auto; display: block; font-size-adjust: none; font-stretch: normal; box-shadow: 2px 2px 3px #6e6e6e; background-color: rgb(32, 32, 32); -moz-border-radius: 5px; -webkit-border-radius: 5px;
}

.btn-clipboard {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.btn-clipboard-hover {
    background-color: rgba(148, 189, 225, 1);
    border-color: rgba(148, 189, 225, 1);
}

.bs-brand-logos .inverse {
  background-color: rgba(148, 189, 225, 1);
}
