<div class="bs-docs-section">
  <h1 id="buttons" class="page-header">Buttons</h1>

  <div class="callout callout-warning" id="callout-buttons-base-tag">
    <h4>Button tags required</h4>
    <p>These classes require the standard Bootstrap <a href="http://getbootstrap.com/css/#buttons">button</a> tags.</p>
  </div>

  <h2 id="buttons-striped">Striped</h2>
  <p>Use any of the available button classes to quickly create a styled button.</p>
  <div class="bs-example" data-example-id="btn-variants">
    <button type="button" class="btn btn-default btn-striped">Default</button>
    <button type="button" class="btn btn-primary btn-striped">Primary</button>
    <button type="button" class="btn btn-success btn-striped">Success</button>
    <button type="button" class="btn btn-info btn-striped">Info</button>
    <button type="button" class="btn btn-warning btn-striped">Warning</button>
    <button type="button" class="btn btn-danger btn-striped">Danger</button>
  </div>
{% highlight html %}
<!-- Standard button -->
<button type="button" class="btn btn-default btn-striped">Default</button>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary btn-striped">Primary</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success btn-striped">Success</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info btn-striped">Info</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning btn-striped">Warning</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger btn-striped">Danger</button>
{% endhighlight %}

  <h2 id="buttons-outline">Outline</h2>
  <p>Use any of the available button classes to quickly create a styled button.</p>
  <div class="bs-example" data-example-id="btn-variants">
    <button type="button" class="btn btn-default btn-outline">Default</button>
    <button type="button" class="btn btn-primary btn-outline">Primary</button>
    <button type="button" class="btn btn-success btn-outline">Success</button>
    <button type="button" class="btn btn-info btn-outline">Info</button>
    <button type="button" class="btn btn-warning btn-outline">Warning</button>
    <button type="button" class="btn btn-danger btn-outline">Danger</button>
    <button type="button" class="btn btn-link btn-outline">Link</button>
  </div>
{% highlight html %}
<!-- Standard button -->
<button type="button" class="btn btn-default btn-outline">Default</button>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary btn-outline">Primary</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success btn-outline">Success</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info btn-outline">Info</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning btn-outline">Warning</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger btn-outline">Danger</button>

<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<button type="button" class="btn btn-link btn-outline">Link</button>
{% endhighlight %}

  <div class="callout callout-warning" id="callout-buttons-color-accessibility">
    <h4>Conveying meaning to assistive technologies</h4>
    <p>Using color to add meaning to a button only provides a visual indication, which will not be conveyed to users of assistive technologies – such as screen readers. Ensure that information denoted by the color is either obvious from the content itself (the visible text of the button), or is included through alternative means, such as additional text hidden with the <code>.sr-only</code> class.</p>
  </div>

</div>
