<div class="bs-docs-section">
  <h1 id="forms" class="page-header">Forms</h1>

  <h2 id="forms-switch">Switches</h2>
  <p>Checkboxes or radios styled as toggle switches.</p>
  <div class="bs-example" data-example-id="basic-forms">
  <div class="row">
  <div class="col-md-6">
    <form>
    	<h1>Checkboxes</h1>
		<label class="switch-input">
			<input name="switch-checkbox" type="checkbox" checked>
			<i data-swoff-text="OFF" data-swon-text="ON"></i> Web Notification
		</label>
		<label class="switch-input">
			<input name="switch-checkbox" type="checkbox">
			<i data-swoff-text="OFF" data-swon-text="ON"></i> Mobile Notification
		</label>
		<label class="switch-input">
			<input name="switch-checkbox" type="checkbox" checked>
			<i data-swoff-text="OFF" data-swon-text="ON"></i> Email Subscription
		</label>
		<label class="switch-input">
			<input name="switch-checkbox" type="checkbox" checked="">
			<i data-swoff-text="NO" data-swon-text="YES"></i> Show Birthdate
		</label>
    	<h1>Radios</h1>
		<label class="switch-input">
			<input name="switch-radio" type="radio">
			<i data-swoff-text="OFF" data-swon-text="ON"></i> Daily
		</label>
		<label class="switch-input">
			<input name="switch-radio" type="radio" checked="">
			<i data-swoff-text="OFF" data-swon-text="ON"></i> Weekly
		</label>
		<label class="switch-input">
			<input name="switch-radio" type="radio">
			<i data-swoff-text="OFF" data-swon-text="ON"></i> Monthly
		</label>
    </form>
    </div>
    </div>
  </div><!-- /example -->
{% highlight html %}
<form>
	<label class="switch-input">
		<input name="switch-checkbox" type="checkbox" checked>
		<i data-swoff-text="OFF" data-swon-text="ON"></i> Web Notification
	</label>
	<label class="switch-input">
		<input name="switch-checkbox" type="checkbox">
		<i data-swoff-text="OFF" data-swon-text="ON"></i> Mobile Notification
	</label>
	<label class="switch-input">
		<input name="switch-checkbox" type="checkbox" checked>
		<i data-swoff-text="OFF" data-swon-text="ON"></i> Email Subscription
	</label>
	<label class="switch-input">
		<input name="switch-checkbox" type="checkbox" checked="">
		<i data-swoff-text="NO" data-swon-text="YES"></i> Show Birthdate
	</label>
	<label class="switch-input">
		<input name="switch-radio" type="radio">
		<i data-swoff-text="OFF" data-swon-text="ON"></i> Daily
	</label>
	<label class="switch-input">
		<input name="switch-radio" type="radio" checked="">
		<i data-swoff-text="OFF" data-swon-text="ON"></i> Weekly
	</label>
	<label class="switch-input">
		<input name="switch-radio" type="radio">
		<i data-swoff-text="OFF" data-swon-text="ON"></i> Monthly
	</label>
</form>
{% endhighlight %}
</div>