<div class="bs-docs-section">
  <h1 id="pricing-tables" class="page-header">Pricing Tables</h1>
  <p class="lead">Responsive pricing tables that are easy to use.</p>
  <p>The <code>.pricing-plan-heading</code> and <code>.pricing-plan-footer</code> elements are optional.

  <h2 id="pricing-tables-plans">Default example</h2>
  <p>By default, mulitple pricing plans are meant to be shown inside a pricing table.</p>
  <div class="bs-example" data-example-id="pricing-tables-plans-example">
    <div class="pricing-plans">
      <div class="pricing-plan-heading">
        <h1>Lorem Ipsum is simply dummy text</h1>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="pricing-plan">
            <div class="pricing-plan-title">
              <span class="glyphicon glyphicon-knight icon"></span>
              <h1>Beginner</h1>
            </div>
            <div class="pricing-plan-price">FREE</div>
            <div class="pricing-plan-body">
              <ul>
                <li><strong>5 GB</strong> upload quota</li>
                <li><strong>10 GB</strong> file storage</li>
                <li><strong>Up to 2 Mbps</strong> download speed</li>
                <li><strong>Professional support</strong></li>
              </ul>
              <button class="btn btn-primary" type="button">Free Trial</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="pricing-plan">
            <div class="pricing-plan-title">
              <span class="glyphicon glyphicon-tower icon"></span>
              <h1>Premium</h1>
            </div>
            <div class="pricing-plan-price">$49 <small>mo</small></div>
            <div class="pricing-plan-body">
              <ul>
                <li><strong>20 GB</strong> upload quota</li>
                <li><strong>100 GB</strong> file storage</li>
                <li><strong>Exceptional</strong> download speed</li>
                <li><strong>Professional support</strong></li>
              </ul>
              <button class="btn btn-primary" type="button">Free Trial</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="pricing-plan">
            <div class="pricing-plan-title">
              <span class="glyphicon glyphicon-music icon"></span>
              <h1>Elite</h1>
            </div>
            <div class="pricing-plan-price">$99 <small>mo</small></div>
            <div class="pricing-plan-body">
              <ul>
                <li><strong>Unlimited</strong> upload quota</li>
                <li><strong>Unlimited</strong> file storage</li>
                <li><strong>Exceptional</strong> download speed</li>
                <li><strong>Priority professional support</strong></li>
              </ul>
              <button class="btn btn-primary" type="button">Free Trial</button>
            </div>
          </div>
        </div>
      </div>
      <div class="pricing-plan-footer">
        <p class="text-muted">Sed suscipit diam magna, ac rhoncus lorem condimentum id.</p>
      </div>
    </div>
  </div>
{% highlight html %}
<div class="pricing-plans">
  <div class="pricing-plan-heading">
    <h1>Lorem Ipsum is simply dummy text</h1>
    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <div class="pricing-plan">
        <div class="pricing-plan-title">
          <span class="glyphicon glyphicon-knight icon"></span>
          <h1>Beginner</h1>
        </div>
        <div class="pricing-plan-price">FREE</div>
        <div class="pricing-plan-body">
          <ul>
            <li><strong>5 GB</strong> upload quota</li>
            <li><strong>10 GB</strong> file storage</li>
            <li><strong>Up to 2 Mbps</strong> download speed</li>
            <li><strong>Professional support</strong></li>
          </ul>
          <button class="btn btn-primary" type="button">Free Trial</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="pricing-plan">
        <div class="pricing-plan-title">
          <span class="glyphicon glyphicon-tower icon"></span>
          <h1>Premium</h1>
        </div>
        <div class="pricing-plan-price">$49 <small>mo</small></div>
        <div class="pricing-plan-body">
          <ul>
            <li><strong>20 GB</strong> upload quota</li>
            <li><strong>100 GB</strong> file storage</li>
            <li><strong>Exceptional</strong> download speed</li>
            <li><strong>Professional support</strong></li>
          </ul>
          <button class="btn btn-primary" type="button">Free Trial</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="pricing-plan">
        <div class="pricing-plan-title">
          <span class="glyphicon glyphicon-music icon"></span>
          <h1>Elite</h1>
        </div>
        <div class="pricing-plan-price">$99 <small>mo</small></div>
        <div class="pricing-plan-body">
          <ul>
            <li><strong>Unlimited</strong> upload quota</li>
            <li><strong>Unlimited</strong> file storage</li>
            <li><strong>Exceptional</strong> download speed</li>
            <li><strong>Priority professional support</strong></li>
          </ul>
          <button class="btn btn-primary" type="button">Free Trial</button>
        </div>
      </div>
    </div>
  </div>
  <div class="pricing-plan-footer">
    <p class="text-muted">Sed suscipit diam magna, ac rhoncus lorem condimentum id.</p>
  </div>
</div>
{% endhighlight %}

  <h2 id="pricing-tables-plans">Single plan example</h2>
  <p>If you want to present just a single pricing plan, use <code>.pricing-plan-single</code> for a wider layout.</p>
  <div class="bs-example" data-example-id="pricing-tables-plans-example">
    <div class="pricing-plan-single">
      <div class="pricing-plan-heading">
        <h1>Lorem Ipsum is simply dummy text</h1>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="pricing-plan-body">
        <div class="row">
              <div class="col-md-6">
                <div class="pricing-plan-price">$49 <small>mo</small></div>
              </div>
              <div class="col-md-6">
                <ul>
                  <li><strong>Unlimited</strong> upload quota and storage</li>
                  <li><strong>Exceptional</strong> download speed</li>
                  <li>Feel safe with our<strong> professional support</strong></li>
                  <li><strong>50+</strong>built-in templates</li>
                  <li>Customizable plan with <strong>lower price</strong></li>
                </ul>
                <button class="btn btn-primary btn-lg" type="button">
                  <strong>SIGN UP</strong>
                  <div><small>30-days free trial<br/>
                  All major credit cards accepted</small></div>
                </button>
              </div>
        </div>
      </div>
      <div class="pricing-plan-footer">
        <p class="text-muted">Sed suscipit diam magna, ac rhoncus lorem condimentum id.</p>
      </div>
    </div>
  </div>
{% highlight html %}
<div class="pricing-plan-single">
  <div class="pricing-plan-heading">
    <h1>Lorem Ipsum is simply dummy text</h1>
    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="pricing-plan-body">
    <div class="row">
          <div class="col-md-6">
            <div class="pricing-plan-price">$49 <small>mo</small></div>
          </div>
          <div class="col-md-6">
            <ul>
              <li><strong>Unlimited</strong> upload quota and storage</li>
              <li><strong>Exceptional</strong> download speed</li>
              <li>Feel safe with our<strong> professional support</strong></li>
              <li><strong>50+</strong>built-in templates</li>
              <li>Customizable plan with <strong>lower price</strong></li>
            </ul>
            <button class="btn btn-primary btn-lg" type="button">
              <strong>SIGN UP</strong>
              <div><small>30-days free trial<br/>
              All major credit cards accepted</small></div>
            </button>
          </div>
    </div>
  </div>
  <div class="pricing-plan-footer">
    <p class="text-muted">Sed suscipit diam magna, ac rhoncus lorem condimentum id.</p>
  </div>
</div>
{% endhighlight %}
</div>
