<div class="bs-docs-section">
  <h1 id="testimonials" class="page-header">Testimonials</h1>
  <p class="lead">For quoting blocks of content from another source within your document.</p>

  <h2 id="testimonials-examples">Examples</h2>
  <p>Add <code>.testimonial</code> to any <code>&lt;blockquote&gt;</code>. To identify the source, add a <code>&lt;footer&gt;</code> element and wrap the name of the source in <code>&lt;cite&gt;</code>.</p>
  <div class="bs-example" data-example-id="simple-testimonial">
    <blockquote class="testimonial">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer><cite>John Doe</cite>, CEO</footer>
    </blockquote>
  </div>
{% highlight html %}
<blockquote class="testimonial">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer><cite>John Doe</cite>, CEO</footer>
</blockquote>
{% endhighlight %}
</div>
